<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>The Koch Center</key>
	<string>Dedicated in the spring of 2007, the Koch Center is an 80,000 square-foot center for the study of science, mathematics, and technology. The building includes: A planetarium, 20 classrooms, Laboratory spaces, Dedicated space for independent research, Information technology and communications offices, 225-seat auditorium, An astronomy viewing terrace, A central atrium, A cafe where students and faculty can gather</string>
	<key>The Boyden Library</key>
	<string>The Boyden Library supports the intellectual growth, personal exploration, and creative opportunities offered Deerfield Academy students by providing comfortable spaces for individual or group study, and a rich collection of books, Ebooks, research databases, periodicals, audio books, DVDs, and CDs that meets the diverse curriculum and leisure needs of students and faculty.</string>
	<key>Hess Center for the Arts</key>
	<string>The Art Department’s programs are based in the Hess Center for the Arts, with facilities for visual and performing arts alike. The Hess Center for the Arts houses: The Hess Auditorium, The von Auersperg Gallery, The Reid Black Box Theater, The Elizabeth Wachsman Concert Hall, An acting lab, A modernized recording studio, Improved art spaces.</string>
	<key>Athletic Center</key>
	<string>Ten international squash courts Two gymnasiums housing three basketball courts A spacious wrestling room Fitness center equipped with free weights, Keiser weights, and more An indoor hockey rink The David H. Koch Natatorium, with an eight-lane pool and separate diving well.</string>
	<key>Arms Building</key>
	<string>Initially “dedicated to science and industrial training,” the Arms Building was designed by Charles Platt in 1933 and donated by Jennie Maria Arms Sheldon. Mrs. Sheldon was a longtime friend of Mr. Boyden and a loyal benefactor of Deerfield Academy.</string>
	<key>Dining Hall</key>
	<string>The Academy believes that sit-down meals provide an important opportunity for enhancing the community. For this reason, family-style meals are served seven times per week. Boarding students attend all sit-down meals. Day students attend all sit-down lunches and are encouraged to stay for the evening meal. A complete list of Dining Hall Meal Times is available. Students are assigned to a different table every three weeks, which allows them to get better acquainted with different students and faculty members in a relaxed setting. The Dining Hall is full of life, and the students applaud for their favorite meals and break into song on birthdays. Students follow the rules of the Dining Hall–maintaining an environment that is comfortable and engaging for all–and they take turns waiting on tables and performing other kitchen duties.</string>
	<key>Main School Building</key>
	<string>Erected on the site of the former Dickinson High School and Deerfield Academy Building of 1878, the Main School Building was completed in 1931. It was designed by Charles Platt, and initially served as the classroom building for the entire school. After renovations in the 1980s, the building now houses history classrooms, the admissions office, and many of Deerfield’s administrative offices
</string>
</dict>
</plist>
