<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Dining Hall</string>
		<key>location</key>
		<string>{42.544653, -72.607082}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Athletic Center</string>
		<key>location</key>
		<string>{42.544783, -72.607984}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Main School Building</string>
		<key>location</key>
		<string>{42.545543, -72.605581}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Arms Building</string>
		<key>location</key>
		<string>{42.546033, -72.605447}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hess Center for the Arts</string>
		<key>location</key>
		<string>{42.546641, -72.605906}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>The Boyden Library</string>
		<key>location</key>
		<string>{42.546843, -72.606829}</string>
	</dict>
	<dict>
		<key>location</key>
		<string>{42.546924, -72.607846}</string>
		<key>title</key>
		<string>The Koch Center</string>
	</dict>
</array>
</plist>
